<%- include('../partials/header') %>
<section class="home container">
  <h1>
    Welcome, <%= user !== 'undefined' && user.username !== 'undefined' ?
    user.username : 'User'%>
  </h1>
  <a href="/logout" class="btn btn-danger">Logout</a>
</section>
<%- include('../partials/footer') %>
